.pagination {
  display: flex;
  justify-content: end;
  align-items: center;
}

.page-button {
  padding: 1rem;
  margin: 0 0.1rem;
  background-color: var(--background-color-hover);
  color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.page-button.active {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.page-button:hover {
  background-color: var(--primary-color-hover);
  color: var(--white-color);
}
@media (max-width: 768px) {
  .pagination {
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.1rem;
  }

  .page-button {
    padding: 0.7rem 0.7rem;
    font-size: 0.9rem;
  }
}
