.table-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-objects {
  border-collapse: collapse;
}

.table-objects th,
.table-objects td {
  padding: 1rem;
  text-align: left;
  border: 1px solid gray;

}

.table-objects th {
  background-color: #f0f0f0;
}


@media (max-width: 768px) {
  .table-objects th,
  .table-objects td {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}
