.table-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-objects {
  border-collapse: collapse;
}

.table-objects th,
.table-objects td {
  padding: 1rem;
  text-align: left;
  border: var(--border-base);
}

.table-objects th {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.table-objects tr.clickable-row {
  cursor: pointer;
}

.table-objects tr.clickable-row:hover {
  background-color: var(--primary-color-lt-hover);
}


@media (max-width: 768px) {
  .table-objects th,
  .table-objects td {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}